merged_files.md

# Chalice local build output
.chalice/deployed/
.chalice/deployments/
.chalice/venv/

# Mac OS X hidden files
.DS_Store

# Pyhon byte-compiled / optimized files
venv/
__pycache__/
*.py[cod]
*$py.class