body>header .container>a {
    margin: calc(var(--pico-spacing)* -.125) calc(var(--pico-spacing)* -.25);
    padding: calc(var(--pico-spacing)* .125) calc(var(--pico-spacing)* .25);
    border-radius: var(--pico-border-radius);
}
body>header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
mark.status.progress {
    background-color: transparent;
    color: var(--pico-color-fuchsia-250);
}
mark.status.success {
    background-color: transparent;
    color: var(--pico-color-green-400);
}