p, li, span {
    font-size: medium;
}
body>header .container>a {
    margin: calc(var(--pico-spacing)* -.125) calc(var(--pico-spacing)* -.25);
    padding: calc(var(--pico-spacing)* .125) calc(var(--pico-spacing)* .25);
    border-radius: var(--pico-border-radius);
}
body>header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
mark.status.progress {
    background-color: transparent;
    color: var(--pico-color-fuchsia-250);
}
mark.status.success {
    background-color: transparent;
    color: var(--pico-color-green-400);
}
ul#error-list {
    background-color: var(--pico-color-orange-300);
    color: var(--pico-code-kbd-color);
    font-weight: bolder;
}
div#video-list-items {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: first baseline;
    justify-content: flex-start;
    align-items: first baseline;
}
div#video-list-items>div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    border-bottom: var(--pico-color-indigo-300) 0.05em dashed;
    margin-bottom: 6px;
}
div#video-list-items>div ul li {
    list-style: none;
    margin: 0;
    font-size: 14px;
    padding: 0;
}
#video-list-items>div h6 {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    font-weight: bold;
}
#video-list-items>div small {
    margin: 0;
    padding: 0;
    color: var(--pico-color-slate-300);
}
div.thumbnail-container {
    display: contents;
}
img.thumbnail-img {
	border-radius: 6px;
    width: 120px;
    max-height: 68px;
    margin-bottom: 1em;
}
.chat-message,
.chat-response {
    border-bottom: var(--pico-color-indigo-300) 0.05em dashed;
    margin-bottom: 2px;   
}
.chat-response p {
    margin: 0;
    margin-bottom: 2px;
    padding: 0;
}
.chat-response ol, .chat-response ul {
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
}
#individual-videos-summary-content ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}
#individual-videos-summary-content li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: flex-start;    
    margin-bottom: 1em;
}
#individual-videos-summary-content li img {
    margin-right: 1em;
}
.suggestions-buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.suggestions-buttons-container .suggestion-button {
    flex: 1 1 calc(50% - 10px); /* Two items per row with a gap */
    box-sizing: border-box;
    font-size: small;
}
#reload-followup-questions {
    --pico-background-color: transparent;
    --pico-color: var(--pico-contrast);
    --pico-border-color: var(--pico-contrast);
}
#reload-followup-questions svg {
    width: 12px;
    height: 12px;
}