{% extends 'base.html' %}

{% block content %}
<hgroup>
    <h1>Video Expoloratorium</h1>
    <p>
        Use LLM to analyze videos and get insights. Make sure the URL params pid and ks are set. Search for videos, analyze them and get insights.
    </p>
</hgroup>
<section>
    <mark id="status">...</mark>
    <article>
        <details open>
            <summary>Search Videos</summary>
            <div role="search">
                <input type="text" id="category-id-text-input" placeholder="Ancestor category ID">
                <input type="text" id="free-text-input" placeholder="Or.. free text">
                <button id="get-videos-category-text-button">Search</button>
            </div>
        </details>
        <hr />
        <details id="videos-card">
            <summary>Search Results <small>(Videos that have EN captions)</small></summary>
            <div id="video-list-items" class="grid"></div>
            <button id="analyze-selected-videos-button">Analyze Selected Videos</button>
        </details>        
        <hr />
        <details id="progress-section">
            <summary>Analysis Progress</summary>
            <progress id="progress-bar" max="100" value="0"></progress>
            <div id="progress-insights"></div>
        </details>
        <hr />
        <details id="individual-videos-analysis-results">
            <summary>Individual Video Summaries</summary>
            <div>
                <nav id="individual-videos-navbar">
                    <ul>
                      <li><strong>Choose an entry:</strong></li>
                    </ul>
                    <ul>
                      <li><button class="secondary">entry_Id_place_holder</button></li>
                    </ul>
                  </nav>
                <div id="individual-videos-summary-content"></div>
            </div>
        </details>
        <hr />
        <details id="cross-video-insights-card">
            <summary>Cross Video Insights</summary>
            <div id="cross-video-insights-content"></div>
        </details>
        <hr />
        <details id="chat-section">
            <summary>Chat with the Videos</summary>
            <div id="chat-container">
                <div id="chat-messages"></div>
                <input type="text" id="chat-input" placeholder="Ask a question..." />
                <button id="send-chat-button">Send</button>
            </div>
        </details>
        <hr />
        <details id="errors-card">
            <summary>Errors</summary>
            <ul id="error-list"></ul>
            <hr />
        </details>
    </article>
</section>
{% endblock %}
